<fifa-header></fifa-header>

 <div class="container">
  <app-fifa-table-main [data]="topSongs"></app-fifa-table-main>
  <div class="row">
    <div *ngFor="let songList of allSongs"  class="col-sm-6">
      <app-fifa-table [data]="songList"></app-fifa-table>
    </div>
  </div>
</div> 

<!--<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <div id="demo" class="carousel slide">
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
        </ul>
        <div class="carousel-inner">
          <div *ngFor="let songList of allSongs" class="carousel-item active" [class.active]="">
            <app-fifa-table [data]="songList?.songs"></app-fifa-table>
          </div>
        </div>
        <div>
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>-->
